* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100vh;
    overflow: hidden;
}

#container {
    position: absolute;
    background-color: #894b4b;
    overflow: hidden;
}

.hearts {
    display: flex;
    position: absolute;
}

.icon {
    background-color: #fff;
}

.entity,
.icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entity {
    position: absolute;
}

.platform {
    position: absolute;
    background-color: #555;
}